<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool" >
    <div class="Card" th:each="book: ${list}">
        <div class="Card-picture">
            <a href="#" th:href="@{${'/books/'} + ${book.id}}">
                <img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>

                <div class="Card-sale" th:if="${book.discount > 0}" th:text="${book.discount} + '% скидка'"> </div>
                <div class="Card-ribbon" th:if="${book.isBestseller == 1}"><span class="Card-ribbonText">Бестселлер</span></div>
                <a class="Card-status" title="Куплена" th:if="${book.status == 'PAID'}"><img src="/assets/img/icons/check.svg" alt="Куплена"></a>
                <a class="Card-status" title="В корзине" th:if="${book.status == 'CART'}"><img src="/assets/img/icons/shopping-basket.svg" alt="В корзине"></a>
                <a class="Card-status" title="Отложена" th:if="${book.status == 'KEPT'}"><img src="/assets/img/icons/heart.svg" alt="Отложена"></a>
            </a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:href="@{'/books/' + ${book.id}}" th:text="${book.title}"></a>
            </strong>
<!--            <div class="Card-link-author" th:text="${book.getBook2AuthorEntities().size() > 0? book.allAuthorsNameString() : ''}">Кондратенко Валерий Петрович  </div>-->
            <div class="Card-link-author" th:text="${book.allAuthorsNameString()}">Кондратенко Валерий Петрович  </div>
            <div class="Card-description" th:text="${book.description}">  </div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:text="(${book.discountPrice() != book.price} ? ${'₽'+ book.price})" ></span>
                <span class="Card-price" th:text="${'₽'+ book.discountPrice()}"></span>

            </div>
        </div>
    </div>
        <div class="Cards-footer Cards-footer_center"  th:if="${list.size() == 20}">
            <a class="btn btn_primary" style="display: -moz-box"
                   href="#"
                   data-refreshoffset="0"
                   data-refreshlimit="20"

               th:attr="data-refreshquery=${refreshquery}, data-refreshshow=${category}, data-refreshid=${id} "

               data-refreshid="1"
                   data-refreshshow="search"
                   data-refreshquery="new search"
             >Показать еще </a>
        </div>
</div>

</html>