<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool" >
    <div class="Card" th:each="book: ${list}">
        <div class="Card-picture">
            <a href="#" th:href="@{${'/books/'} + ${book.id}}">
                <img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>
            </a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:href="@{${'/books/'} + ${book.id}}" th:text="${book.title}"></a>
            </strong>
            <div class="Card-description" th:text="${book.description}">
            </div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:text="(${book.discountPrice() != book.price} ? ${'₽'+ book.price})" ></span>
                <span class="Card-price" th:text="${'₽'+ book.discountPrice()}"></span>
            </div>
        </div>
    </div>
<!--        <div th:if="${not #lists.isEmpty(${list})}">-->
        <div class="Cards-footer Cards-footer_center">
            <a class="btn btn_primary"
               href="#"
               data-refreshoffset="0"
               data-refreshlimit="20"

               th:attr="data-refreshquery=${searchWordDto.example}, data-refreshshow=${category}, data-refreshid=${id} "

               data-refreshid="1"
               data-refreshshow="search"
               data-refreshquery="new search"
             >Показать еще </a>
        </div>
<!--        th:text="${isEmptyList}"-->
        <!--               th:text="${!isEmptyList}? 'Показать еще больше': '' "-->
        <!--        <div th:if="${not #lists.isEmpty(${list})}">-->
</div>

</html>