<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="genreFragment" th:remove="tag">
    <div th:each="genre: ${genreList}" th:class="${genre.children.isEmpty()? 'Tags': 'Tags Tags_embed'}">
        <div class="Tags-title">
            <div class="Tag">
                <a href="/genres/slug.html"
                   th:href="@{${'/genres/slug/'}+${genre.id}}"
                   th:text="${genre.name}">
                </a>
                <span class="undefined-amount" th:text="'('+${genre.countBooks}+')'">(934)</span>
            </div>
        </div>
        <div th:class='Tag' th:with="genreList=${genre.children}"
             th:insert="~{fragments/genre_fragment :: genreFragment}" th:remove="tag">
        </div>
    </div>
</div>
</html>