<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="genreFragment" >
    <div th:each="genre : ${@genreService.sortGenresByCountBooks(genreList)}" th:class="${genre.children.isEmpty()? 'Tags': 'Tags Tags_embed'}">
        <div class="Tags-title">
            <div th:class="${genre.children.isEmpty()? '' : 'Tag'}">
                <a class="Tag" th:href="@{'/genres/slug/' + ${genre.id}}"
                   th:text="${genre.name + ' ('+ genre.countBooks +')'}">
                </a>
            </div>
        </div>
        <div th:with="genreList=${genre.children}"
             th:insert="~{fragments/genre_fragment :: genreFragment}" th:remove="tag">
        </div>
    </div>
</div>
</html>